@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,200);
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
html, body{
  height:100%;
  width:100%;
  font-family: 'Raleway', sans-serif;
  text-align:center;
  margin:0;
  padding:0;
}

.login{
  position:absolute;
  height:140px;
  width:280px;
  border-radius:10px;
  border:2px solid #666;
  padding:10px;
  top:50%;
  left:50%;
  margin-left:-140px;
  margin-top:-70px;
}
.login input{
  line-height:30px;
  display:inline-block;
  width:200px;
  text-align:center;
  margin-top:25px;
}
.login input[type="submit"]{
  background-color:#3498db;
  color:#fff;
  cursor:pointer;
}
.chatsList{
  position:absolute;
  left:0;
  top:0;
  width:200px;
  height:100%;
  background-color:#fff;
  border-right:2px solid #666;
}
.chatsList ul{
  text-align:left;
  list-style-type:none;
  padding:0;
  margin:0;
}
.chatsList ul li{
  position:relative;
  height:40px;
  line-height:40px;
  border-top:1px solid #666;
  border-bottom: 1px solid #666;
  width:100%;
  cursor:pointer;
}
.chatsList ul li span{
  position:absolute;
  bottom:2px;
  right:2px;
  font-size:0.7em;
  line-height:10px;
  color:#aaa;
}
.online{
  position:absolute;
  right:0;
  top:0;
  width:200px;
  height:100%;
  background-color:#fff;
  border-left:2px solid #666;
}
.online h3{
  margin-top:70px;
}
.online ul{
  text-align:left;
  list-style-type:none;
  padding:0;
  margin:0;
}
.online ul li{
  position:relative;
  height:40px;
  line-height:40px;
  margin-left:10px;
  cursor:pointer;
}
.online ul li::before{
  content:'●';
  color:#2ecc71;
}
.quit{
  position:absolute;
  right:45px;
  top:40px;
  background-color:#e74c3c;
  color:#fff;
  padding:2px 5px;
  border-radius:5px;
  cursor:pointer;
}
.user{
  position:absolute;
  right:0;
  top:20px;
  width:200px;
  text-align:center;
  display:block;
}

.messages{
  padding-left:202px;
  padding-right:202px;
  position:relative;
  height:100%;
}
.chat{
  position:relative;
  width:100%;
  height:100%;
  text-align:left;
  overflow:scroll;
}
.chat .form{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:30px;
}
.chat .form form{
  position:relative;
  height:100%;
  margin: 0 202px;
  border-top:2px solid #666;
  background:#fff;
}
.chat input{
  padding:0 5px;
  margin:0;
  width:300px;
  line-height:30px;
}
.chat form input[type='submit']{
  border-radius:none;
  background-color:#3498db;
  color:#fff;
  float:right;
  border:none;
  width:100px;
}

.chat input[disabled]{
  background-color:#ccc;
  color:#aaa;
  width:100%;
}

.chat h3{
  text-align:center;
  padding-top:10px;
  margin-bottom:20px;
}
.chat ul{
  padding-bottom:32px;
}
.chat li{
  width:100%;
  list-style-type:none;
  margin-bottom:15px;
  position:relative;
}
.chat li .sent{
  text-align:right;
}
.chat li .msg{
  border-radius:10px;
  padding:5px 10px;
  max-width:50%;
  display:inline-block;
}
.chat li .sent .msg{
  border-radius:10px;
  background-color:#ccc;
  color:#444;
  margin-right:5px;
}
.chat li .received .msg{
  border-radius:10px;
  background-color:#3498db;
  color:#fff;
  margin-left:5px;
}
.chat li span{
  position:absolute;
  top:100%;
  font-size:0.7em;
  right:10px;
  color:#aaa;
}
.chat li .received span{
  left:10px;
}